table{
    background-color: rgba(0,0,0, 0.7);
}

.page-header{
    margin-top: 0px;
}

.coluna-acoes{
    text-align: center;
    width: 20px;
}

.yellow{
    color: yellow;
}

.coluna-acoes > a:hover{
    color:white;
}

.red{
    color:red;
}