table{
    background-color: rgba(0,0,0, 0.7);
    color:white;
}

.page-header{
    margin-top: 0px;
}

.coluna-acoes{
    text-align: center;
    width: 20px;
}

.yellow{
    color: yellow;
}

.coluna-acoes > a:hover{
    color:white;
}

.red{
    color:red;
}

.dataTables_length > label{
    color:orange;
}

#example_length > label{
    color:orange;
}

#example_wrapper{
    color:orange;
}

.dataTables_wrapper .dataTables_length {
    color:orange;
}