<div class="container user-read">
    <div class="row">
            <div class="page-header">
                <h1>lista de user</h1>
            </div>
            <table id="example" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-bordered row-border hover">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>nome</th>
                        <th>email</th>
                        <th>telefone</th>
                        <th>editar</th>
                        <th>remove</th>
                    </tr>    
                </thead>

                <tbody>
                    <tr *ngFor="let usuarioDomain of usuarioDomain">
                        <td>{{usuarioDomain.id}}</td>
                        <td>{{usuarioDomain.name}}</td>
                        <td>{{usuarioDomain.email}}</td>
                        <td>{{usuarioDomain.phone}}</td>
                        <td class="coluna-acoes">
                            <a routerLink="/user-update/{{usuarioDomain.id}}" class="glyphicon glyphicon-pencil yellow">   
                            </a>
                        </td>

                        <td class="coluna-acoes">
                            <a routerLink="/user-delete/{{usuarioDomain.id}}" class="glyphicon glyphicon-trash red">
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        
    </div>

</div>

<h1>ola</h1>
<button id="hide">hide</button>


<button id="show">show</button>
