<!--  * class="navbar navbar-default" = colocar a background,font-size em cinza 
         * class="navbar-header"
         * class="navbar-brand" logo
         * class="nav navbar-nav navbar-right ajeita os links e o outro coloca a direita

         (criar dropdown)
         *class="dropdown", dropdown-toggle, data-toggle="dropdown", class="dropdown-menu"

         * type="button", class="navbar-toggle collapsed", data-toggle="collapse", data-target="#barra-navegacao",
         id="barra-navegacao",class="icon-bar",class="collapse navbar-collapse", class="sr-only"
         *   -->
<nav class="navbar navbar-default navbar-transparente">
    <div class="container">
        <div class="navbar-header header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#barra-navegacao">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            
            
                
            <!--
            
            <a class="title">
                <span class="glyphicon glyphicon-home"></span>
                home
            </a> -->
            <a routerLink="{{ routerUrl }}" class="title navbar-brand">
                LOGO
                <span class="glyphicon {{ icon }}"></span>
                {{ title }}
            </a>
        </div>

        <div id="barra-navegacao" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a routerLink="">home</a></li>
                <li><a routerLink="/products">produtos</a></li>
            </ul>
        </div>
    </div>
</nav>

