nav{
    margin-bottom: 0px;
}

nav.navbar-transparente{
	background: rgba(0,0,0,0.3); /*transparencia*/
	border: none;
}

.navbar-default .navbar-nav>li>a {
    color: #fff;
}

.navbar-default .navbar-brand {
    color: #fff;
}

.header{
    display: flex;
    align-items: center;
}

.header a {
    align-items: center;
    text-decoration: none;
}

.header a span{
    padding-left: 10px;
    padding-right: 5px;
}


/* .title > i{
    font-size: 12px;
    padding-right: 5px;
    padding: 0px;
    margin: 0px;

    border: 1px solid red;
} */