
<div class="container tablepag">
  <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-bordered row-border hover">
      <thead>
        <tr>
          <th>ID</th>
          <th>First name</th>
          <th>Last name</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let e of data">
          <td>{{ e.employee_name }}</td>
          <td>{{ e.employee_salary }}</td>
          <td>{{ e.employee_age }}</td>
        </tr>
      </tbody>
    </table>
</div>
