.product-read{
    height: 100vh;
    padding: 10px;
}

.page-header{
    margin-top: 0px;
    padding-top: 0px;
}

.icons{
    width: 50px;
    font-size:20;
    text-align: center;
}

.edit > a{
    color:yellow;
}

.edit > a:hover{
    color:white;
}
.remove > a{
    color:red;
}

.remove > a:hover{
    color:white;
}

table{
    background: #0a1a24;
    color:white;
}

h1{
    margin-top: 0px;
}

/*deletado o datatables configurado fundo branco, arrumado icones de deletar/editar ao passar o mouse,deletar user*/