<div class="container">
    <div class="row product-read ">
        <div class="page-header">
            <h2>tabela de produtos</h2>
        </div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>name</th>
                        <th>price</th>
                        <th>edit</th>
                        <th>remove</th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let products of product">
                        <td>{{ products.id }}</td>
                        <td>{{ products.name }}</td>
                        <td>{{ products.price | currency: 'BRL'}}</td>
                        <td class="icons edit">
                            <a routerLink="/products-update/{{ products.id }}">
                                <i class="glyphicon glyphicon-pencil"></i>
                            </a>
                        </td>
                        <td class="icons remove">
                            <a routerLink="/products-delete/{{ products.id }}">
                                <i class="glyphicon glyphicon-trash"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
    </div>
</div>