.product-read{
    height: 100vh;
    border:1px solid blue;
    padding: 10px;
}

.icons{
    width: 50px;
    font-size:20;
    text-align: center;
}

.edit > a{
    color:yellow
}

.remove > a{
    color:red
}