/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.v-middle{
    vertical-align: middle;
}

body{
    /* background: url('assets/mountains.jpg'); */
    background-image: radial-gradient(circle at 50% -4.59%, #bdc3c7 0, #e7edf3 50%, #484e52 100%);
    background-attachment: fixed;
    background-color: #fff;
}

.input-transparent{
    background-color: #0a1a24;
    color:#fff;
}