<div class="container form-user">
    <div class="row">
        <div class="page-header">
            <h1>atualizar user</h1>
        </div>
       
        <div class="col-sm-6">
            <form>
                <div class="form-group">
                    <label for="name">name</label>
                    <input type="text" class="form-control input-transparent" [(ngModel)]="usuarioDomain.name" name="name" placeholder="name">    
                </div>

                <div class="form-group">
                    <label for="email">email</label>
                    <input type="text" class="form-control input-transparent" [(ngModel)]="usuarioDomain.email" name="email" placeholder="email@gmail.com">    
                </div>

                <div class="form-group">
                    <label for="telefone">telefone</label>
                    <input type="number" class="form-control input-transparent" [(ngModel)]="usuarioDomain.phone" name="phone" placeholder="telefone">    
                </div>

                <button type="submit" (click)="update()" class="btn btn-warning">atualizar</button>
                <button type="button" (click)="cancel()" class="btn btn-danger">cancel</button>
            </form>
            
        </div>
    </div>
</div>

